<div class="container">
    <form FormGroup="create-form" (ngSubmit)="onSubmit()">

        <div class=" form-group">
            <label for="titulo">Titulo: </label>
            <input type="text" class="form-control" id="titulo" name="titulo" formControlName="titulo">
        </div>

        <div class="form-group">
            <label for="seccion">seccion: </label>
            <input type="text" class="form-control" id="seccion" name="seccion" formControlName="seccion">
        </div>

        <div class="form-group">
            <label for="">estado:
            </label>
            <input type="text" id="estado" name="estado" class="form-control" formControlName="estado">
        </div>

        <div class="form-row">
            <div class="col">
                <label for="">Año:
                    <input type="date" id="ano" name="ano" class="form-control" formControlName="ano">
                </label>
            </div>

            <div class="form-group">
                <label for="">Descripcion:
                </label>
                <textarea type="text" id="descripcion" name="descripcion" cols="30" rows="10" class="form-control" formControlName="descripcion"> </textarea>
            </div>

            <button class="btn btn-success" type="submit">Enviar</button>
        </div>
    </form>
    <br><br><br><br>
</div>