@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&display=swap');
:root {
    --fuente-principal: 'Roboto Condensed', normal;
    --fuente-secundaria: 'Roboto Condensed', sans-serif;
    --color-fondo: wheat;
    --color-fuente: antiquewhite;
}

body {
    background-size: 100%;
    background-image: url("./assets/images/home4.jpg");
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--fuente-principal);
}

p {
    font-family: var(--fuente-secundaria);
}